/* body: {
  background-color: black;
} */
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  padding: 1rem 0;
  font-size: 1.8rem;
}

footer {
  posititon: fixed;
  bottom: 0;
  left: 0;
}
h2 {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

.navbar-light .navbar-brand {
  color: white;
  font-weight: 'bold';
  font-size: 2.3rem;
}

.navbar-light .navbar-nav a.nav-link {
  color: 'white';
}

.ml-auto.navbar-nav a.nav-link {
  color: 'white';
}
#root {
  margin: 0 auto;
}

body {
  display: 'flex';
}

.form-input-color::placeholder {
  color: '#FA5C5C';
}
input.form-input-color::placeholder {
  font-size: 1.2rem;
  color: #fa5c5c;
}
input.form-input-color:focus {
  border: 1px solid #fa5c5c;
}
